* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #7f96ff;
}

/* HEADER */
header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu /*.action_btn*/ {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* HERO */
section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .links
      /*.navbar .action_btn*/ {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container .text .row {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
}

.text-content {
  display: none;
}

.text-toggle i {
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  color: #38acc9;
}

.text-content.open {
  display: block;
}
.password-container {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.input-container {
  border: solid 2px black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 24px;
  letter-spacing: 4px;
  color: #fff;
}

.input::placeholder {
  letter-spacing: 0px;
}

.fa-copy {
  cursor: pointer;
  opacity: 0.3;
}

.fa-copy:hover {
  opacity: 0.7;
}

.sbtn {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
}

.sbtn:hover {
  background-color: rgb(32, 24, 134);
}

.btn:active {
  transform: scale(0.95);
}
.alert-container {
  position: fixed;
  width: 300px;
  height: 50px;
  background-color: crimson;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 0.4s;
}

.active.alert-container {
  display: none;
}
.app {
  background-color: #0b0831;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.app h1 {
  font-size: 25px;
  color: #ffffffde;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 19px;
  color: #ffffffe5;
  font-weight: 600;
}

.qbtn {
  background: #6030b8;
  color: #ffffffda;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 18px;
}

.qbtn:hover:not([disabled]) {
  background: #4832a83a;
  color: #9e72b3e7;
}

.qbtn:disabled {
  cursor: no-drop;
}

#next-btn {
  background-color: #361174;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}
